<!DOCTYPE html>
<html lang="en">
<head>
<title>Joseph Zanchelli</title>
</head>
<body>
  <div class = "Photo">
    <img src="assets/MountWhitney.jpeg" style="width:100%">
  </div>
  <div class = "bottomBar">
    <a href = "https://github.com/Jzanchelli">github</a>
  </div>
</body>
</html>
